services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
      POSTGRES_DB: main
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - my_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "george.ermekov@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "1111"
      SCRIPT_NAME: /pgadmin
    ports:
      - "5433:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - my_network
    logging:
      options:
        max-size: 10m

  
volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local

networks:
  my_network:
    driver: bridge